<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        #databinding{
            padding: 20px 15px 15px 15px;
            margin: 0 0 25px 0;
            width:auto;
            background-color: #e7e7e7;
        }
        span, option, input {
            font-size: 25px;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="databinding" style="">
        <h1>Currency Converter</h1>
        <span>Enter Amount:</span><input type="number" v-model.number="amount" placeholder="Enter Amount" name="" id=""><br><br>
        <select name="" id="" v-model="convertfrom" style="width:300px; font-size:25px;">
            <option v-for="(a, index) in currencyfrom" v-bind:value="a.name">{{ a.desc }} </option>
        </select>
        <span>Convert To:</span>
        <select name="" id="" v-model="convertto" style="width:300px; font-size:25px">
            <option v-for="(a, index) in currencyfrom" v-bind:value="a.name">{{ a.desc }}</option>
        </select><br><br>
        <span>{{ amount }} {{ convertfrom }} equals {{ finalamount }} {{ convertto }} </span>
    </div>
</body>
<script src="app18.js"></script>
</html>