<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="app">
        <!-- {{ message }} -->
        
        <!-- <span v-bind:title="message">
            Hover your mouse..
        </span> -->

        <!-- <span v-if="seen">Now you see me</span> -->

        <!-- <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol> -->

        <!-- <p>{{ message }}</p>
        <button v-on:click="reserveMessage">Reserve Message</button> -->
      
        <!-- <p>{{ message }}</p>
        <input v-model="message"> -->

        <!-- <ol>
            <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id">
            </todo-item>
        </ol> -->

        <!-- {{ number +1 }} -->

        <!-- {{ ok ? 'YES' : 'NO' }} -->

        <!-- <p v-if="seen">Now you see me</p> -->

        <!-- <button v-on:click="doSomething">Hello</button> -->

        <button v-on:click="say('Hello', $event)">Submit</button>



    </div>
</body>
<!-- <script type="text/javascript" src="app.js"></script> -->
<script type="text/javascript" src="app2.js"></script>
</html>